

.containermain{
    /* margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px; */
    margin:auto;
    border: 5px solid black ;
    padding: 20px;
    width: 50%;
    height: fit-content;
}

.row row-cols-2{
    margin: auto;
    padding: 4px;
}

.row{
    margin: auto;
    padding: 2px;
}

.space{
    margin-right: 10px;
}

#s-bowl{
    margin-left: 10px;
    
}

#btn-block{
    display: block;
    margin: auto;
    margin-top: 5px;
    align-items: center; 
}

.score_display{
    display: block;
    margin: auto;
    margin-top: 15px;
    align-items: center; 
}
